# Git
.git
.gitignore

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Node
node_modules/
frontend/.next/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Uploads
backend/media/
backend/uploads/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log

# Docs
ai_doc/
